@charset "utf-8";
/* CSS Document */
//栅格化标签默认样式
body{
	margin:0;
	padding:0;	
	}
*{
	margin:0;
	padding:0;
	font:14px 微软雅黑;
    color:#2B2B2B;
	text-decoration:none;
	list-style:none;
	}
a{
	
	}
//这本是版心的样式 

	
	
.header{
	width:100%;
	height:70px;
	border-bottom:2px solid #e8e8e8;
	}
.banxin{
	width:1000px;
	margin:0 auto;
 
	}
.tool{
		height:70px;
		line-height:78px;
	}
#logo{
	float:left;
	width:85px;
	height:70px;
	background:url(../images/Logo.png) no-repeat left center;
	background-size:contain;
	}
.span1{
	font-size:24px;
	}
.span2{
	font-size:18px;
	}
.div1{
	line-height:70px;
	float:right;
	width: 150px;
	}
	
.div2{
	line-height:70px;
	float:right;
	margin-left:10px;
	width: 150px;
	}
 
.div11{
	margin-top:26px;
	float:left;
	margin-right:3px;
	width:16px;
	height:16px;
	
	}
.div111{
		background:url(../images/yonghu.png);
		background-size:contain;
	}
.div222{
	background:url(../images/zhuxiao.png);
	background-size:contain;
	}
.nav{
	 width:100%;
	 height:45px;
	 background:#f98d00;
	}
nav.ul{
	height:45px;
	}
.nav ul a:hover{
	background:#d17600;
	}
.nav ul a{
	line-height:45px;
	float:left;
	height:45px;
	padding-left:10px;
	padding-right:10px;
	color:#FFFFFF;
	}
.cantent{
	overflow:auto;
	}
.cantent .pp{
	margin-top:20px;
	font-size:18px;
	text-indent:10px;
	}
.line{
	width:100%;
	height:1px;
	background:#949494;
	}
.dds p{
	text-indent:10px;
	 margin-top:10px;
	}
.dds select{
	width:180px;
	margin-left: 8px;
	margin-top: 10px;
	}
 .dds select option{
	 text-align:center;
	 }
.pz a{
	margin-left:5px;
	margin-right:5px;
	color: blue;
	}
.lm{
	float:right;
	width:80px;
	height:25px;
	background:#ff9000;
	border:none;
	outline:none;
	color:#FFFFFF;
	}
.ps{
	margin-left:10px;
	margin-top:10px;
	overflow:auto;
	}
.ps span{
	float:left;
	}
.ps .tex1{
	float:left;
	margin-left:10px;
	padding-left:2px;
	outline:0;
	height:22px;
	width:200px;
	font-size:12px;
	border:1px solid #8A8A8A;
	border-right:0;
	}
.ps .btn{
	float:left;
	border:0;
	outline:none;
	width:60px;
	height:24px;
	background:url(../images/seach.png) no-repeat;
	background-size:contain;
	}
.line1{
	border:1px dashed #868686;
	margin-top:20px;
	margin-bottom:20px;
	}
.imgbox{
	margin:0 auto;
	width:105px;
	height:100px;
	border:1px solid #2B2B2B;
	}
.divbox{
	width:135px;
	height:143px;
	float:left;
	}
.divbox p{
	text-align:center;
	line-height:40px;
	}
.fenye{
	width:350px;
	height:40px;
	margin: 0 auto;
	padding-top: 10px;
	}
.nb{
	overflow:auto;
	}
.anniu1{
	color:#FFFFFF;
	width:80px;
	height:25px;
	border:none;
	background:#ff9000;
	outline:none;
	}
.anniu{
	float:right;
	}
.go{
	color:#FFFFFF;
	width:50px;
	height:25px;
		border:none;
	background:#252525;
	outline:none;
	float:right;
	margin-right:15px;
	}
.fenye input{
	width:40px;
	outline:none;
	margin-left:66px;
	}